* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  /* background-color: blue; */
  margin: 20% auto;
  padding: 20%;
}

.clock {
  text-align: center;
  margin-bottom: 5%;
  font-size: 3em;
}

.progress_bar {
  margin: 0 auto;
  /* width: 90%; */
  border-top: solid black;
  height: 20px;
}
