* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  padding: 20%;
  margin: 5% auto;
  max-height: 400px;
}

.clock {
  text-align: center;
  margin-bottom: 5%;
  font-size: 3em;
}

.progress_bar {
  margin: 0 auto;
  border-top: solid black;
  height: 20px;
}
